<div class = "container" style="width:300px; float:right;" >
<form>

  <div>
    <label for="name">
      Username
    </label>
    <input id="name" type="text" formControlName="name">
  </div>

  <div>
    <label for="password">
      Password
    </label>
    <input id="password" type="text" formControlName="password">
  </div>

  <label>
    <input type="checkbox" checked="checked" name="remember"> Remember me
  </label>

  <div>
    <button class="button" type="submit">Login</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>

</form>
</div>
