
<body>
    <header>
        <a routerLink ="#" class="logo">PikaKBTU</a>
        <ul>
            <li><a  routerLink="#" class="nav-left">Главная </a></li> 
            <li><a routerLink="#" class="nav-right">Профиль </a></li>
            <li><a routerLink="#" class="nav-right">Еще</a></li>
            <li><a routerLink="#" class="nav-right">И Еще</a></li>
            
        </ul>
        <form>
            <input name="s" placeholder="Искать здесь..." type="search">
            <button type="submit"></button>
        </form>
    </header>
   
    <!-- <script type="text/javascript">
        window.addEventListener("scroll", function(){
            var header = document.querySelector("header");
            header.classList.toggle("sticky", window.scrollY > 0);
        })
    </script> -->


<!-- <p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p>
<p>asdasdsadasdasdsadas</p> -->
</body>
