
<div class = "container" style="width:220px; float:right;">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <div>
        <label for="name">
          Username
        </label>
        <input id="name" type="text" formControlName="name" style="float: right">
      </div>

      <div class="container">
        <label for="password">
          Password
        </label>
        <input id="address" type="password" formControlName="password" style="float: right">
      </div>

      <label>
        <input type="checkbox" checked="checked" name="remember">
        Remember me
      </label>

      <div>
        <button class="button" type="submit">Login</button>
        <span style="float: right">
          <a href="#">
            Forgot password?
          </a>
        </span>
      </div>

    </form>
    </div>
